<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>

        body{
            padding: 0;
            margin: 0;
            padding-top: 100px;
            font-family: arial;
        }
        h1 ,h2 {
            text-align: center;
        }
        a{
            display: flex;
            justify-content: center;
        }

        .img{ 
            width: 200px;
            height: 200px;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>Your Email is Verified . </h1>
    <h2>Kindly click on the link below to navigate on the main website  </h2>
    
    <a href="https://give-metask.vercel.app/login">  Login to the Website </a>

    <div class="img" >
        <img src="/loader.gif" alt="gif-loader">
    </div>



</body>
</html>